// Colors
/* General */

$theme-colors: (
  "primary": #3c6754,
  // "primary": #66bcf2,
    "secondary": #56b389,
  // "secondary": #459489,
    // "success": #9cbf78,
    "success": #28526d,
  "danger": #684e73,
  "warning": #e5c07b,
  "info": #757575,
  "light": #f8f9fa,
  "dark": #323840
);

// Custom bootstrap
@media only screen and (max-width: 576px) {
  .btn-sm-block {
    width: 100%;
    margin: 5px;
  }
}
.disable-default-a {
  text-decoration: none !important;
  background-color: transparent !important;
}
a {
  text-decoration: none !important;
}
img {
  pointer-events: none;
}
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  // color: #323840;
}
.modal-content {
  border: none !important;
}
.nav-link:focus {
  outline: none !important;
  box-shadow: none;
}
// Utils
button:focus {
  outline: none !important;
}
.btn-outline-green,
.btn.btn-outline-green {
  border-radius: 50rem !important;
  background-color: none;
  border: 1px solid #56b389 !important;
  color: #56b389 !important;
}
.btn-outline-green:hover,
.btn.btn-outline-green:hover,
.btn.btn-outline-green:focus {
  // background: linear-gradient(45deg, #56b389, #2e6a89);
  // border: 1px solid white !important;
  color: #56b389 !important;
  outline: none !important;
}
.btn-outline-success {
  border: none !important;
}
.btn-gradient-green {
  padding: 7px 15px !important;
}
.btn.btn-outline-cancel,
.btn-outline-cancel {
  border-radius: 50rem !important;
  background-color: none;
  border: 1px solid #757575 !important;
  color: #757575 !important;
}
.btn.btn-outline-cancel:hover,
.btn.btn-outline-cancel:focus,
.btn-outline-cancel:hover,
.btn-outline-cancel:focus {
  // background: linear-gradient(45deg, #56b389, #2e6a89);
  // border: 1px solid white !important;
  color: #757575 !important;
  outline: none !important;
}
// gradients
.bg-gradient-light-blue {
  background: linear-gradient(#64c8e6, #9198e5);
}
.bg-gradient-green {
  background: linear-gradient(45deg, #2e6a89, #56b389);
}
.text-shadow {
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-no-pointer {
  cursor: inherit !important;
}
.box-shadow {
  box-shadow: 0 0 20px black;
}

.text-grey {
  color: #757575 !important;
}

/* btn */

.btn:focus {
  box-shadow: none !important;
}
.btn-dark:focus {
  box-shadow: none !important;
}
.btn:hover {
  color: #fff !important;
}
.btn-outline-light:hover {
  color: #000 !important;
}
.btn-green {
  background: linear-gradient(45deg, #2e6a89, #56b389);
  border: none !important;
  border-radius: 50rem !important;
}
.btn-green-disabled {
  background: linear-gradient(45deg, #2e6a89, #56b389);
  border: none !important;
  opacity: 0.5;
  cursor: inherit;
}
/* Forms */
input.form-control,
textarea.form-control,
input.custom-control-input {
  box-shadow: none !important;
}
input.form-control:focus,
textarea.form-control:focus,
input.custom-control-input:focus {
  box-shadow: none !important;
}

// Full calendar
// you must include each plugins' css
// paths prefixed with ~ signify node_modules
@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";
@import "~@fullcalendar/bootstrap/main.css";

.demo-app {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.demo-app-top {
  margin: 0 0 3em;
}

.demo-app-calendar {
  margin: 0 auto;
  max-width: 900px;
}
.fc-today {
  background-color: inherit !important;
}
.fc-time-grid-event {
  background-color: #3c6754;
  border-color: #3c6754;
}
@media only screen and (max-width: 768px) {
  .fc-toolbar {
    flex-direction: column;
  }
  .fc-toolbar h2 {
    margin-bottom: 20px;
  }
}

.fc-content .fc-title {
  padding: 0 !important;
  vertical-align: baseline !important;
  vertical-align: baseline;
}
.fc-content {
  text-align: center;
}

.fc-time-grid-event.fc-event.fc-start.fc-end.fc-short {
  top: inherit;
  border: 0 !important;
  border-radius: 5px !important;
}
.fc-next-button {
  background: linear-gradient(45deg, #56b389, #2e6a89) !important;
  border-color: inherit !important;
}
.fc-prev-button {
  background: linear-gradient(45deg, #56b389, #2e6a89) !important;
  border-color: inherit !important;
  margin: inherit !important;
}
.fc-today-button {
  background: linear-gradient(45deg, #56b389, #2e6a89) !important;

  border: none !important;
}
.fc-timeGridWeek-button {
  background: linear-gradient(45deg, #56b389, #2e6a89) !important;
  margin: 0 5px !important;
  border: none !important;
  border-radius: 0.25rem !important;
}
.fc-dayGridMonth-button {
  background: linear-gradient(45deg, #56b389, #2e6a89) !important;
  border-radius: 0.25rem !important;
  border: none !important;
}
.fc-timeGridDay-button {
  background: linear-gradient(45deg, #56b389, #2e6a89) !important;
  border-radius: 0.25rem !important;
  border: none !important;
}
.fc-timeGridWeek-button.active {
  opacity: 0.5;
}
.fc-dayGridMonth-button.active {
  opacity: 0.5;
}
.fc-timeGridDay-button.active {
  opacity: 0.5;
}
.fc-left {
  display: none !important;
}
@media only screen and (min-width: 992px) {
  .fc-left {
    display: block !important;
  }
}
.fc-next-button:hover,
.fc-prev-button:hover,
.fc-prev-button:focus,
.fc-prev-button:focus,
.fc-today-button:hover,
.fc-today-button:focus,
.fc-timeGridWeek-button:hover,
.fc-timeGridWeek-button:focus,
.fc-dayGridMonth-button:hover,
.fc-dayGridMonth-button:focus,
.fc-timeGridDay-button:hover,
.fc-timeGridDay-button:focus {
  border-color: inherit !important;
  box-shadow: none !important;
  outline: none !important;
}
.fc-left h2 {
  font-size: 15pt;
}

@import "../../../../../node_modules/bootstrap/scss/bootstrap";
