// Colors
/* General */

$theme-colors: (
  "primary": #3c6754,
  // "primary": #66bcf2,
    // "secondary": #56b389,
    "secondary": #459489,
  // "success": #9cbf78,
    "success": #28526d,
  "danger": #684e73,
  "warning": #e5c07b,
  "info": #757575,
  "light": #f8f9fa,
  "dark": #323840
);
// Posibles colores
// background: linear-gradient(#64c8e6, #9198e5);
// background: linear-gradient(45deg, #56b389 , #85892e ); // verde amarillo
// linear-gradient(45deg, #56b389 , #b6b419 ); // verde amarillo
//background: linear-gradient(45deg, #56b389 , #2e6a89 );
// General
// .btn {
//   border-radius: 0 !important;
// }
// @media only screen and (max-width: 768px) {
//   .header-btn.btn-outline-secondary:hover,
//   .header-btn.btn-outline-secondary:focus {
//     color: #56b389 !important;
//     background-color: #fff !important;
//     border-color: #56b389 !important;
//   }
// }
.disable-default-a {
  text-decoration: none !important;
  background-color: transparent !important;
}
a {
  text-decoration: none !important;
}
img {
  pointer-events: none;
}
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  // color: #323840;
}
.modal-content {
  border: none !important;
}
.nav-link:focus {
  outline: none !important;
  box-shadow: none;
}
// Utils
.btn-green {
  background: linear-gradient(45deg, #2e6a89, #56b389);
  border: none !important;
}
.btn-outline-green {
  background-color: none;
  border: 1px solid #56b389 !important;
  color: #56b389 !important;
}
.btn.btn-outline-green:hover,
.btn.btn-outline-green:focus {
  // background: linear-gradient(45deg, #56b389, #2e6a89);
  // border: 1px solid white !important;
  color: #56b389 !important;
}
.btn-outline-success {
  border: none !important;
}
.btn-gradient-green {
  padding: 7px 15px !important;
}
// gradients
.bg-gradient-light-blue {
  background: linear-gradient(#64c8e6, #9198e5);
}
.bg-gradient-green {
  background: linear-gradient(45deg, #2e6a89, #56b389);
}
.text-shadow {
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.cursor-pointer {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 0 0 20px black;
}

.text-grey {
  color: #757575 !important;
}

/* btn */

.btn:focus {
  box-shadow: none !important;
}
.btn-dark:focus {
  box-shadow: none !important;
}
.btn:hover {
  color: #fff !important;
}
.btn-outline-light:hover {
  color: #000 !important;
}

/* Forms */
input.form-control,
textarea.form-control,
input.custom-control-input {
  box-shadow: none !important;
}
input.form-control:focus,
textarea.form-control:focus,
input.custom-control-input:focus {
  box-shadow: none !important;
}

@import "../../../../../node_modules/bootstrap/scss/bootstrap";
