.div-welcome {
  border-top: 20px solid;
  border-bottom: 20px solid;
  height: 400px;
}

@media only screen and (max-width: 768px) {
  .form-search-parent {
    width: 30%;
  }
  .div-welcome {
    height: 550px;
  }
}
