// you must include each plugins' css
// paths prefixed with ~ signify node_modules
@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";
@import "~@fullcalendar/bootstrap/main.css";

.demo-app {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.demo-app-top {
  margin: 0 0 3em;
}

.demo-app-calendar {
  margin: 0 auto;
  max-width: 900px;
}
.fc-today {
  background-color: inherit !important;
}
.fc-time-grid-event {
  background-color: #3c6754;
  border-color: #3c6754;
}
@media only screen and (max-width: 768px) {
  .fc-toolbar {
    flex-direction: column;
  }
  .fc-toolbar h2 {
    margin-bottom: 20px;
  }
}
.fc-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fc-content {
  background: linear-gradient(45deg, #56b389, #2e6a89) !important;
  border-radius: 5px !important;
}
.fc-time-grid-event.fc-event.fc-start.fc-end.fc-short {
  border: 0 !important;
  border-radius: 5px !important;
}
.fc-title {
  padding: 10px !important;
}
.fc-next-button {
  background: linear-gradient(45deg, #56b389, #2e6a89) !important;
  border-color: inherit;
}
.fc-prev-button {
  background: linear-gradient(45deg, #56b389, #2e6a89) !important;
  border-color: inherit;
  margin: inherit;
}
.fc-today-button {
  background: linear-gradient(45deg, #56b389, #2e6a89) !important;

  border: none;
}
.fc-next-button:hover,
.fc-prev-button:hover,
.fc-prev-button:focus,
.fc-prev-button:focus,
.fc-today-button:hover,
.fc-today-button:focus {
  border-color: inherit !important;
}
