.container-card {
  a:hover {
    text-decoration: none !important;
    background-color: transparent !important;
  }

  .img-card {
    width: 200px !important;
    height: 200px !important;
  }
  .badge.cursor-pointer:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
  @media only screen and (min-width: 582px) {
    .img-card {
      width: 150px !important;
      height: 150px !important;
    }
  }
  @media only screen and (min-width: 1024px) {
    .img-card {
      padding: 10px;
    }
  }
}

@media only screen and (min-width: 582px) {
  .card-slick {
    width: 95%;
  }
}
@media only screen and (min-width: 768px) {
  .div-card-slick {
    display: flex;

    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .div-card-slick {
    display: flex;
    justify-content: center;
  }
}
