.content-teachers-zone {
  min-width: inherit;
  min-height: calc(100vh - 70px);
  position: fixed;
  bottom: 0;
  left: 200px;
  float: left;
  display: block;
  border-bottom: none;
  width: 100px;
}
