.filter-carousel {
  display: flex;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
}
.filter-carousel div {
  padding: 5px;
  color: rgba($color: #000000, $alpha: 0.5);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  margin-right: 20px;
  cursor: pointer;
}
.filter-carousel div:hover,
.filter-carousel div.active {
  color: black;
  border-bottom: 1px solid black;
}
.card {
  padding-top: 10px;
  opacity: 1;
  width: 300px;
  color: white;
}

.card-title {
  color: #262626;
  display: block;
  overflow: hidden;
  font-size: 14px;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0 !important;
}

img {
  display: block;
  margin: auto;
  width: 250px;
  height: 250px;
}
.slick-prev:before,
.slick-next:before {
  color: black !important;
}
